.slides {
  max-width: 500px;
  height: auto;
  align-content: center;
  align-self: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
  margin: auto;
}

.container
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-content: center;
  align-self: center;
  text-align: center;
}

.header
{
  font-size: xx-large;
}