@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Schoolbell", cursive;
  font-size: 2rem;
  margin: 0;
  padding: 2rem;
}

h1 {
  margin: 0;
  font-size: 3.8rem;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 1fr 4fr 2fr 3fr 3fr 2fr 4fr 1fr 5fr;
  gap: 1rem;
  max-width: 75rem;
  margin: 0 auto;
  background: url(images/lightblue_gingham.png);
  padding-bottom: 2rem;
}

header {
  grid-column: 1 / -1;
  padding: 2rem;
  box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: aliceblue;
}

.pair {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1rem;
}

.pair--about {
  grid-column: 8 / -1;
  grid-row: 1;
  justify-self: end;
  align-self: start;
}

.pair--art {
  grid-column: 1 / span 5;
  grid-row: 2;
  align-self: start;
}

.pair--interests {
  grid-column: 4 / span 6;
  grid-row: 4;
  align-self: start;
}

.pair--projects {
  grid-column: 2 / span 7;
  grid-row: 5;
  align-self: start;
}

figure {
  margin: 0;
  background: rgba(173, 216, 230, 0.8);
  box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
}

.linkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.5rem;
  background-color: aliceblue;
  box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: inherit;
  text-align: center;
  z-index: 2;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

[style*="--aspect-ratio"] {
  position: relative;
}

[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

[style*="--aspect-ratio"] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fig a {
  display: block;
  width: 100%;
  height: 100%;
}